<!-- NAVBAR SUPERIOR -->
<!-- <p>
    <mat-toolbar color="primary" class="d-flex px-5">
        <span>Dashboard</span>
        <span class="ms-auto"><button mat-raised-button color="warn" (click)="logout()">Salir</button></span>
    </mat-toolbar>
</p> -->

<div class="wrapper m-0 row w-100 justify-content-center align-items-center">
    <div class="container p-0 text-center">
        <div class="row">
            <!-- <div class="col-6 col-sm-5  col-lg-3 col-xxl-2 mb-4">
                <mat-card>
                    <div mat-card-avatar class="icon">
                        <img class="img-fluid" src="/assets/icons/caja.png" alt="apertura de caja">
                    </div>
                    <mat-card-header>
                        <mat-card-title>Caja</mat-card-title>
                      </mat-card-header>
                </mat-card>
            </div> -->
            <div class="col-6 col-sm-5  col-lg-3 col-xxl-2">
                <mat-card routerLink="/empleados">
                    <div mat-card-avatar class="icon">
                        <img class="img-fluid" src="/assets/icons/barberos.png" alt="barberos">
                    </div>
                    <mat-card-header>
                        <mat-card-title>Empleados</mat-card-title>
                      </mat-card-header>
                </mat-card>
            </div>
            <div class="col-6 col-sm-5  col-lg-3 col-xxl-2">
                <mat-card routerLink="/servicios">
                    <div mat-card-avatar class="icon">
                        <img class="img-fluid" src="/assets/icons/servicios.png" alt="servicios">
                    </div>
                    <mat-card-header>
                        <mat-card-title>Servicios</mat-card-title>
                      </mat-card-header>
                </mat-card>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6 col-sm-5  col-lg-3 col-xxl-2">
                <mat-card routerLink="/inventario">
                    <div mat-card-avatar class="icon">
                        <img class="img-fluid" src="/assets/icons/inventario.png" alt="inventario">
                    </div>
                    <mat-card-header>
                        <mat-card-title>Inventario</mat-card-title>
                      </mat-card-header>
                </mat-card>
            </div>
            <div class="col-6 col-sm-5  col-lg-3 col-xxl-2 mb-4 mb-4">
                <mat-card routerLink="/clientes">
                    <div mat-card-avatar class="icon">
                        <img class="img-fluid" src="/assets/icons/clientes.png" alt="clientes">
                    </div>
                    <mat-card-header>
                        <mat-card-title>Clientes</mat-card-title>
                      </mat-card-header>
                </mat-card>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6 col-sm-5  col-lg-3 col-xxl-2">
                <!-- <mat-card>
                    <div mat-card-avatar class="icon">
                        <img class="img-fluid" src="/assets/icons/promociones.png" alt="promociones">
                    </div>
                    <mat-card-header>
                        <mat-card-title>Promociones</mat-card-title>
                      </mat-card-header>
                </mat-card> -->
                <mat-card routerLink="/gastos">
                    <div mat-card-avatar class="icon">
                        <img class="img-fluid" src="/assets/icons/gastos.png" alt="gastos">
                    </div>
                    <mat-card-header>
                        <mat-card-title>Gastos</mat-card-title>
                      </mat-card-header>
                </mat-card>
            </div>
            <div class="col-6 col-sm-5  col-lg-3 col-xxl-2">
                <!-- routerLink="/facturacion" -->
                <mat-card>
                    <div mat-card-avatar class="icon">
                        <img class="img-fluid" src="/assets/icons/facturacion.png" alt="facturacion">
                    </div>
                    <mat-card-header>
                        <mat-card-title>Facturación</mat-card-title>
                      </mat-card-header>
                </mat-card>
            </div>
            <!-- <div class="col-6 col-sm-5  col-lg-3 col-xxl-2">
                <mat-card>
                    <div mat-card-avatar class="icon">
                        <img class="img-fluid" src="/assets/icons/estadisticas.png" alt="estadisticas">
                    </div>
                    <mat-card-header>
                        <mat-card-title>Estadísticas</mat-card-title>
                      </mat-card-header>
                </mat-card>
            </div> -->
        </div>
        <br>
        <div class="row">
<!--             <div class="col-6 col-sm-5  col-lg-3 col-xxl-2 mb-4">
                <mat-card>
                    <div mat-card-avatar class="icon">
                        <img class="img-fluid" src="/assets/icons/codigo-qr.png" alt="codigo-qr">
                    </div>
                    <mat-card-header>
                        <mat-card-title>QR</mat-card-title>
                      </mat-card-header>
                </mat-card>
            </div> -->
<!--             <div class="col-6 col-sm-5  col-lg-3 col-xxl-2">
                <mat-card>
                    <div mat-card-avatar class="icon">
                        <img class="img-fluid" src="/assets/icons/estadisticas.png" alt="estadisticas">
                    </div>
                    <mat-card-header>
                        <mat-card-title>Estadísticas</mat-card-title>
                      </mat-card-header>
                </mat-card>
            </div> -->
<!--             <div class="col-6 col-sm-5  col-lg-3 col-xxl-2">
                <mat-card>
                    <div mat-card-avatar class="icon">
                        <img class="img-fluid" src="/assets/icons/configuracion.png" alt="configuracion">
                    </div>
                    <mat-card-header>
                        <mat-card-title>Ajustes</mat-card-title>
                      </mat-card-header>
                </mat-card>
            </div> -->
        </div>
    </div>
</div>
