@import "~@ng-select/ng-select/themes/material.theme.css";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: transparent;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

form[autocomplete="off"] input[type="text"] {
  background-position: 150% 50% !important;
}

.ng-select-container {
  background-color: rgba(0,0,0,.04);
}

.ng-select-container .ng-value {
  margin-top: .420em;
  margin-left: .620em;
}

.ng-select-container .ng-placeholder {
  margin-top: .420em;
  margin-left: .420em;
}

.ng-select-container .ng-value-container div input {
  padding: 0 .420em !important;
}


.ng-select .ng-select-container {
  min-height: 20px;
}

.ng-select.ng-select-single .ng-select-container {
  height: 3.7em;
}